/* SUGGEST */

div.jsonSuggestResults {
    top:20px;
    position:absolute;
    border:1px solid #CCCCCC;
    background: white;
    padding:0;
    margin:0;
    z-index:100000;
    overflow:hidden;
}

.jsonSuggestResults iframe
{
    display:none;/*sorry for IE5*/
    display/**/:block;/*sorry for IE5*/
    position:absolute;/*must have*/
    top:0;/*must have*/
    left:0;/*must have*/
    z-index:-1;/*must have*/
    filter:mask();/*must have*/
    width:3000px;/*must have for any big value*/
    height:3000px;/*must have for any big value*/
}


div.jsonSuggestResults div.resultItem {
    display:block;
    float:none;
    margin:0px;
    padding:5px;
    position:relative;
    z-index:100000;
    height:auto;
    cursor:pointer;
}

div#search div.jsonSuggestResults p {color:black;}

div.jsonSuggestResults div.resultItem.odd {background-color:#FFFFFF;}
div.jsonSuggestResults div.resultItem.even {background-color:#FFFFFF;}
div.jsonSuggestResults div.resultItem.hover {background-color:#ECECEC;}

div.jsonSuggestResults div.resultItem img {float:left; margin-right:10px;}

div.jsonSuggestResults div.resultItem p {font-size:1em; margin:0px; padding:0px; }
div.jsonSuggestResults div.resultItem p strong {font-weight:bold;}

div.jsonSuggestResults div.resultItem p.extra {position:absolute; bottom:3px; right:3px;}
